/* Horizontal Nav Styles; Used top, right side of page */

ul#navigation {
	float : right;
	width : 100%;
		padding : 0;
		margin : 0;
	list-style-type : none;
	position : inherit;
	display : block;
}

ul#navigation li a {
	display : block;
	padding : 0.25em 1em;
	color : #c0c0c0;
	text-decoration : none;
	float : right;
	margin-top : inherit;
	border-bottom : 0 solid #fff;
	border-top : 0 solid #fff;
	border-right : 0 solid #fff;
}

a:link, a:visited {
	color : #fff;
}

ul#navigation li a:hover {
	color : #04858C;
}

p a:link, p a:visited {
	color : #000;
}