<div class="bottom_contact">
    <div class="wrapper">
        <div class="see_work">
            SEE HOW MAXPOINT CAN WORK FOR YOU.
            <strong><% navigation :contact do |contact| %><a href="<%= contact.locality_location %>">CONTACT US</a><% end %></strong>.
        </div>
        <div class="clear"></div>
    </div>
</div>

