<div class="white_bg margintop10">
    <div class="wrapper">
        <div class="sucess_stories"> <img src="/images/cart.jpg" alt="" title=""  />
            <div class="sucess_right">
                <p>SUCCESS STORIES <br /><span>As a data-driven company, we know <br />that ad campaigns are only successful <br />when they bring results.</span> </p>
                <a href="#" class="success-bttn">learn more</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
