<div class = 'item'>
    <div class = 'inner'>

        <div class = 'text2'>
            <div class="left"></div>
            <div class="right">
                <p class="paddingtop40">
                <span><%= component.text %></span>
                <a href="#" class="see-link">Contact us to learn more.</a>
                </p>
            </div>
        </div>
    </div>
</div>
