<div class = 'item'>
    <div class = 'inner'>
        <div class = 'text2'>
            <div class="left"></div>
            <div class="right">
                <p><%= component.text %></p>
            </div>
        </div>
    </div>
</div>

