<div class="alllogo_bg">
          <div class="wrapper">
            <div class="alllogo">
                 <ul id="mycarousel" class="jcarousel-skin-tango">
                    <% components.each do |component| %>
                        <%= render_component component %>
                    <% end %>
                </ul>
            </div>
    <div class="clear"></div>
  </div>
</div>
