<div class="content_bg">
  <div class="wrapper">
    <div class="content">
      <div class="middle-share">
        <div class="social-section">
          <div class="sharethis my-media">
            <span>Share</span>
            <ul class="media">
              <li><span class="st_facebook_custom fb"></span></li>
              <li><span class="st_linkedin_custom in"></span></li>
              <li><span class="st_twitter_custom twt"></span></li>
              <li><span class="st_email_custom mil"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
