html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {border:0; list-style:none; margin:0; outline:0; padding:0; vertical-align:top;}
html, body{height:100%;}
body{background:#000; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.modalWindow{background:none;}
.emailBody{background:#dcddde;}
:focus{outline:0;}
table{border-collapse:separate; border-spacing:0;}
caption, th, td{font-weight:normal; text-align:left;}
blockquote:before, blockquote:after, q:before, q:after{content: "";}
blockquote, q{quotes: "" "";}

.fl{float:left;}
.fr{float:right;}
.cl{clear:both; height:1px; overflow:hidden; width:100%;}
.clear:after{content:"."; clear:both; display:block; height:0; visibility:hidden;}
.clear{zoom:1;}

#wrapper{background:#000; margin:0 auto; width:100%;}
h1{color:#020202; font:bold 22px/22px Arial, Helvetica, sans-serif;}
h2{color:#2e2e2e; font:bold 16px/16px Arial, Helvetica, sans-serif;}
h3{color:#181818; font:bold 13px/13px Arial, Helvetica, sans-serif; padding:0 0 10px 60px;}

/*HEADER*/
#header{margin:0 auto; padding:8px 0 15px; width:950px;}

/*CONTENT*/
#content{background:#fff; width:100%;}
#content #contentInner{margin:0 auto; padding:0 15px; width:920px;}
.banner{background:url(../images/bg_banner.png); height:217px; position:relative;}
.banner .note{background:url(../images/bg_note.png); color:#fff; display:block; font-size:24px; height:102px; line-height:28px; left:42px; padding:9px 0 0 22px; position:absolute; top:86px; width:494px;}
.mainBox{color:#464646; font-size:14px; line-height:18px; margin-top:34px; padding-bottom:70px; width:552px;}
.listInfo{margin:8px 0;}
.listInfo li{background:url(../images/icon_dotted.png) 38px center no-repeat; float:left; font-size:16px; padding-left:48px; width:228px;}

.sideBox{background:url(../images/rsr.png) left top no-repeat; padding-top:434px; position:absolute; right:33px; top:-37px; text-align:center; width:335px;}
.sideBox .btnDown{display:block; padding-left:55px;}
.sideBox .downText{color:#575757; font-size:14px; margin:10px 0 0; padding-left:58px;}
.sideBox .website{display:block; margin:20px 0; padding-left:60px;}
.sideBox .website a{color:#181818; font-size:14px; font-weight:bold; text-decoration:none;}
.sideBox .website a:hover{color:#c90202}
.sideBox .twitter{color:#848484; font-weight:bold; font-size:13px; padding-left:45px;}
.sideBox .twitter a{color:#848484; text-decoration:none;}
.sideBox .twitter a:hover{color:#c90202;}
.sideBox .twitter img{margin-right:5px;}

/*Footer*/
#footer{color:#fff; margin:0 auto; padding:12px 0; width:950px;}
#footer a{color:#fff; text-decoration:none;}
#footer a:hover{color:#c90202;}
#footer .copy{display:block; font-size:11px; float:left; width:399px;}
#footer .learnMore{display:block; float:right; font-size:16px; font-weight:bold; padding-right:60px; text-align:center; width:245px;}